body {
  background-color:#73AD21;
}

h1 {
text-align: center;

}
.racer_table td {
  height: 100px;
  width: 100px;
}

#player1_strip .active{
  background-image: url("images/Snail-blue.png");
   background-size: 100px 100px;
}
#player2_strip .active{
  background-image: url("images/Snail-purple.png");
  background-size: 100px 100px;
}

.racer_table td.active2 {
  background-color: blue;
}